<!DOCTYPE html>
<html>
<head>
    <title>{{restaurants[restaurant_id]}}</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-2">
</head>
<body>
    <h1>{{restaurants[restaurant_id]}}</h1>

    <!--MESSAGE FLASHING -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% for i in menu_items %}
    {% if menu_items[i]["restaurant_id"] == restaurant_id %}
    <div>
        <p>
            {{menu_items[i]["name"]}}<br/>
            {{menu_items[i]["price"]}}<br/>
            {{menu_items[i]["description"]}}<br/>
            <a href='{{url_for("editMenuItem", restaurant_id=menu_items[i]["restaurant_id"], menu_id=i)}}'>Edit</a>
            <a href='{{url_for("deleteMenuItem", restaurant_id=menu_items[i]["restaurant_id"], menu_id=i)}}'>Delete</a><br/>

        </p>
    </div>
    {% endif %}
    {% endfor %}


</body></html>